* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    position: fixed;
    top: 0;
    left: 0;
    right: ;
    bottom: ;
    background-color: red
}
main{
    margin-top: 40px;
}